<footer class="bg-dark text-center text-white">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Grid container -->
  <div class="container p-0 pb-0" >
    <!-- Section: Social media -->
    <section class="mb">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/Omar.Barboza.01" role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/Ewah_Tumblr" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/ewah.v1" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/EdwardsBC" role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/EdwardsBC">GitHub.com/EdwardsBC</a>
  </div>
  <!-- Copyright -->
</footer>
